<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwh.omi.dao.FinanceMapper">
  <resultMap id="BaseResultMap" type="com.zwh.omi.entity.Finance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="instituteid" jdbcType="INTEGER" property="instituteid" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
    <result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from finance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zwh.omi.entity.Finance">
    insert into finance (id, money, `type`, 
      instituteid, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{instituteid,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zwh.omi.entity.Finance">
    update finance
    set money = #{money,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      instituteid = #{instituteid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, money, `type`, instituteid, createtime, updatetime
    from finance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, money, `type`, instituteid, createtime, updatetime
    from finance
  </select>
</mapper>